# Python
__pycache__/
*.pyc
.env
venv/

# AI models
*.pt
*.pth
*.onnx
models_ai/

# Audio files
data/audio/
backend/storage/
*.wav
*.mp3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node / React
node_modules/

# Android
*.apk
*.aab
.gradle/
build/
