# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dfdaahzqd
CLOUDINARY_API_KEY=547287393796465
CLOUDINARY_API_SECRET=iHMHTY9UcFyMhVc_WnBBav8ZYfM

# MongoDB Configuration (if not already set)
MONGODB_URI=mongodb://localhost:27017

# JWT Secret (if not already set)
SECRET_KEY=tuneflex-secret
